

/* Custom Properties */
:root{
    --favouriteColor: #6e004d;
    --ptexts: #02a63e;
    --headings: #820336;
    --random: #41635f;
}


body {
    background-color: rgb(70, 132, 190);
}

ul {
    list-style-type: none;
    padding: 10px;
    margin: 0;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #ccc;
}

li {
    margin: 0 10px;
    position: relative; /* Needed for pseudo-element positioning */
}

li::before {
    content: "\2022"; /* Unicode bullet point character */
    color: rgb(255, 255, 255); /* Color of the bullet point */
    margin-right: 5px; /* Space between bullet point and text */
}

li:hover {
    color: var(--headings);
    font-weight: bold;
}

h1, h2, h3 {
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
}

.two {
    width: 60%;
    height: 60%;
}

.one {
    padding: 20px;
}

.three {
    border: 1px solid var(--favouriteColor);
    padding: 10px;
}

p[title]{
    color: var(--favouriteColor);
}


/* Media Query */
@media screen and (max-width:700px) {
    body{
        background-color: #41635f;
}
}